<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= author.address %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= link_to author.profile_picture.filename, author.profile_picture if author.profile_picture.attached? %>
  </p>

</div>
