<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div class="d-flex flex-row align-items-start align-self-start" id="books">
  <% @books.each do |book| %>
    <%= render book %>
  <% end %>
</div>

<%= link_to "New book", new_book_path %><br/>
<%= link_to "Back to Home", root_path %>
